doctype html
html
  head
    script(src="/bundle.js")
    title Hello world!
  body
    div.container
      .page-header
        block header
          p Header
      .row
        != messages()
      block body
      block footer
        if user
          .row
            .col-md-12
              .pull-right
                small Hello #{user.username}!
